{% extends 'base.html' %}

{% block title %}{{ block.super }} | Page forbidden{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Error 403</h1>
        {% if 'cookie' in reason|lower %}
            <p class="lead">Crumbs, looks like there might be a problem with your cookies.</p>
            <p>Check that they're enabled and try again.</p>
        {% else %}
            <p class="lead">Oops, something went wrong.</p>
        {% endif %}
    </div>
    <p>Click here to <a href="/" title="Go to home">return home</a>.</p>
</div>
{% endblock %}
