{% load avatar_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
            </div>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'message_form' %}" title="Send us a message">Suggestions?</a></li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li style="margin-top: 12px;">{% avatar user 25 %}</li>
                    <li><a href="{% url 'user_detail' user.id %}" title="View your profile">{{ user.get_full_name }}</a></li>
                    <li><a href="{% url 'user_update' %}" title="Edit your profile details">Edit profile</a></li>
                    <li><a href="{% url 'avatar_change' %}" title="Change your profile image">Change avatar</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" class="navbar-form" role="form">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-default" value="Logout">
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}" title="Log in">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}" async></script>
</body>
</html>
