<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'dist/css/bootstrap-tenant.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'dist/vendor/modernizr/modernizr.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bootstrap</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-main">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav nav--main">
                        <li><a href="{% url 'user_list' %}" title="User list">Tenants</a></li>
                        <li><a href="{% url 'staff_list' %}" title="Staff list">Staff</a></li>
                        <li><a href="{% url 'message_form' %}" title="Send us a message">Suggestions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right nav--user">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user">
                                    <span class="hidden">View More</span>
                                </span>
                                <span>{{ user.get_full_name }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'user_detail' user.id %}" title="View your profile">View profile</a></li>
                                <li><a href="{% url 'user_update' %}" title="Edit your profile details">Edit profile</a></li>
                                <li><a href="{% url 'avatar_change' %}" title="Change your profile image">Change avatar</a></li>
                            </ul>
                        </li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" class="navbar-form navbar-form--logout" role="form">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-default" value="Logout">
                            </form>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right nav--user">
                        <li><a href="{% url 'login' %}" title="Log in">You must be logged in to use this site</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/bootstrap-tenant.min.js' %}" async></script>
</body>
</html>
