{% extends 'base.html' %}

{% block title %}Tenant Index{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Tenant Index</h1>
        <p class="lead">Search, filter and sort tenants...right here!</p>
    </div>
    <form role="form" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="index__search">Email address</label>
            <input class="form-control input-lg index__search" type="search" id="index__search" placeholder="Search name or company..." />
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-default" type="submit">
              Search
            </button>
        </div>
    </form>
    {% if tenants %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>First name <a href="?sort=first_name" title="Sort by first name">▾</a> <a href="?sort=-first_name" title="Sort by first name">▴</a>  </th>
                    <th>Last name <a href="?sort=last_name" title="Sort by last name">▾</a> <a href="?sort=-last_name" title="Sort by last name">▴</a>  </th>
                    <th>Email <a href="?sort=email" title="Sort by email">▾</a> <a href="?sort=-email" title="Sort by email">▴</a>  </th>
                    <th>Company</th>
                    <th>Date Joined</th>
                    <th>Industry/Sector</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tenant in tenants %}
                    <tr>
                        <td>{{ tenant.user.first_name }}</td>
                        <td>{{ tenant.user.last_name }}</td>
                        <td>{{ tenant.user.email }}</td>
                        <td>{{ tenant.company }}</td>
                        <td>{{ tenant.moved_in_date }}</td>
                        <td>{{ tenant.industries.all|join:", " }}</td>
                        <td><a href="{% url 'profile' tenant.user.id %}">Open</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users found.</p>
    {% endif %}
</div>
{% endblock %}

