{% extends 'base.html' %}

{% block title %}Tenant Index{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Tenant Index</h1>
        <p class="lead">Search, filter and sort tenants&hellip; right here!</p>
    </div>
    <form action="{% url 'user_list' %}" method="get" class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="industry">Industry</label>
            <select class="form-control input-lg" name="industry" id="industry">
                <option value="">Select industry</option>
                {% for industry in industries %}
                    <option value="{{ industry.id }}">{{ industry }}</option>
                {% endfor %}
            </select>

            <label class="sr-only" for="location">Location</label>
            <select class="form-control input-lg" name="location" id="location">
                <option value="">Select location</option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location }}</option>
                {% endfor %}
            </select>

            <label class="sr-only" for="search">Search name or company</label>
            <input type="search" class="form-control input-lg" name="search" id="search" placeholder="Search name or company&hellip;">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary">Filter</button>
            <a href="{% url 'user_list' %}" title="Reset filter options" class="btn btn-lg btn-default">Reset</a>
        </div>
    </form>
    {% if object_list %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        First name
                        <a href="?order_by=first_name" title="Sort by first name">▾</a>
                        <a href="?order_by=first_name&amp;order=desc" title="Sort by first name">▴</a>
                    </th>
                    <th>
                        Last name
                        <a href="?order_by=last_name" title="Sort by last name">▾</a>
                        <a href="?order_by=last_name&amp;order=desc" title="Sort by last name">▴</a>
                    </th>
                    <th>
                        Company
                        <a href="?order_by=company" title="Sort by last name">▾</a>
                        <a href="?order_by=company&amp;order=desc" title="Sort by last name">▴</a>
                    </th>
                    <th>
                        Industry/sector
                    </th>
                    <th>
                        Location
                        <a href="?order_by=location" title="Sort by last name">▾</a>
                        <a href="?order_by=location&amp;order=desc" title="Sort by last name">▴</a>
                    </th>
                    <th>
                        Date moved in
                        <a href="?order_by=date_moved_in" title="Sort by last name">▾</a>
                        <a href="?order_by=date_moved_in&amp;order=desc" title="Sort by last name">▴</a>
                    </th>
                    <th><span class="hidden">View profile</span></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.first_name }}</td>
                        <td>{{ object.last_name }}</td>
                        <td>{{ object.company }}</td>
                        <td>{{ object.industries.all|join:', ' }}</td>
                        <td>{{ object.location|default:'' }}</td>
                        <td>{{ object.date_moved_in|date:'dS F Y' }}</td>
                        <td><a href="{% url 'user_detail' object.id %}">View project</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tenants found.</p>
    {% endif %}
</div>
{% endblock %}
