{% extends "base.html" %}
{% load avatar_tags bootstrap %}

{% block title %}{{ block.super }} | Change avatar{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Change avatar</h1>
    </div>

    {% if not avatars %}
        <p>You haven't uploaded an avatar yet. Please upload one now.</p>
    {% else %}
        <p>Your current avatar:</p>
        {% avatar user 125 %}

        <form action="{% url 'avatar_change' %}" method="POST" class="form" role="form">
            {% csrf_token %}

            {{ primary_avatar_form|bootstrap }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Choose avatar">
            </div>
        </form>
    {% endif %}

    <form action="{% url 'avatar_add' %}" method="POST" enctype="multipart/form-data" class="form" role="form">
        {% csrf_token %}

        {{ upload_avatar_form|bootstrap }}

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Upload new avatar">
        </div>
    </form>
</div>
{% endblock %}
