{% extends 'base.html' %}
{% load avatar_tags %}

{% block title %}{{ block.super }} | {{ object.get_full_name }}{% endblock %}

{% block content %}
<div class="container">
    <section>
        <div class="page-header clearfix">
            <div class="pull-right">
                {% avatar object 125 %}
            </div>
            <h1>{{ object.get_full_name }}</h1>
            <a href="{% url 'message_form' object.id %}" title="Send {{ object.first_name }} a message" class="btn btn-primary">Send message</a>
        </div>
        <dl class="dl-horizontal">
            <dt>Company</dt>
            <dd>{{ object.company|default:'-' }}</dd>

            <dt>Bio</dt>
            <dd>{{ object.bio|default:'-' }}</dd>

            <dt>Website</dt>
            <dd>{{ object.website|default:'-'|urlize }}</dd>

            <dt>Industries</dt>
            <dd>{{ object.industries.all|join:', '|default:'-' }}</dd>

            <dt>Location</dt>
            <dd>{{ object.location|default:'-' }}</dd>

            <dt>Date moved in</dt>
            <dd>{{ object.date_moved_in|date:'jS F Y'|default:'-' }}</dd>
        </dl>
    </section>
</div>
{% endblock %}
