{% extends 'base.html' %}
{% load avatar_tags %}

{% block title %}Profile for {{ object.get_full_name }}{% endblock %}

{% block content %}
<div class="container">
    <section>
        <div class="page-header">
            <h1>Tenant Index</h1>
            <p class="lead">{{ object.email }}</p>
        </div>
        {% avatar object 100 %}
        <dl>
            {% if object.company %}
                <dt>Company</dt>
                <dd>{{ object.company }}</dd>
            {% endif %}

            {% if object.bio %}
                <dt>Bio</dt>
                <dd>{{ object.bio }}</dd>
            {% endif %}

            {% if object.industries.count %}
                <dt>Industries</dt>
                <dd>{{ object.industries.all|join:', ' }}</dd>
            {% endif %}

            {% if object.location %}
                <dt>Location</dt>
                <dd>{{ object.location }}</dd>
            {% endif %}

            {% if object.date_moved_in %}
                <dt>Date moved in</dt>
                <dd>{{ object.date_moved_in|date:'dS F Y' }}</dd>
            {% endif %}
        </dl>
    </section>
</div>
{% endblock %}
