{% extends 'base.html' %}
{% load avatar_tags %}

{% block title %}{{ block.super }} | {{ object.get_full_name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <section>
        <div class="page-header clearfix">
            <div class="profile-header__image">
                {% avatar object 125 %}
            </div>
            <h1>{{ object.get_full_name }}</h1>
            <small class="profile-header__subtitle">Tenant since <strong>{{ object.date_moved_in|date:'jS F Y'|default:'-' }}</strong></small>
            <small class="profile-header__subtitle">Find them in <strong>{{ object.location|default:'-' }}</strong></small>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <p>{{ object.bio|default:'Nothing here yet'|urlize|linebreaks }}</p>
                <p><a href="{% url 'message_form' object.id %}" title="Send {{ object.first_name }} a message" class="btn btn-primary">Send a message</a></p>
            </div>
            <dl class="col-md-6 col-lg-5 dl-horizontal profile-list">
                <dt><span class="glyphicon glyphicon-globe"></span></dt>
                <dd>{{ object.website|default:'-'|urlize }}</dd>

                <dt>Company</dt>
                <dd>{{ object.company|default:'-' }}</dd>

                <dt>Industries</dt>
                <dd>
                    <ul>
                    {% for industry in object.industries.all %}
                        <li><a href="{% url 'user_list' %}?industry={{ industry.id }}" title="Tenants in {{ industry }} industry">{{ industry }}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
    </section>
</div>
{% endblock %}
