{% extends 'base.html' %}
{% load avatar_tags staticfiles %}

{% block title %}{{ block.super }} | Tenant Index{% endblock %}

{% block content %}
<div class="container-fluid">
    <form action="{% url 'user_list' %}" method="get" class="form-inline" role="form">
        <span>Filter by:</span>
        <div class="form-group">
            <label class="sr-only" for="industry">Industry</label>
            <select class="form-control" name="industry" id="industry">
                <option value="">All industries</option>
                {% for industry in industries %}
                    <option value="{{ industry.id }}" {% if selected_industry == industry.id %}selected{% endif %}>{{ industry }}</option>
                {% endfor %}
            </select>

            <label class="sr-only" for="location">Location</label>
            <select class="form-control" name="location" id="location">
                <option value="">All locations</option>
                {% for location in locations %}
                    <option value="{{ location.id }}" {% if selected_location == location.id %}selected{% endif %}>{{ location }}</option>
                {% endfor %}
            </select>

            <label class="sr-only" for="search">Name or company</label>
            <input type="search" class="form-control" name="search" id="search" value="{{ search_term }}" placeholder="Name or company&hellip;">

            <input type="hidden" name="order_by" value="{{ order_by }}">
            <input type="hidden" name="order" value="{{ order }}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a href="{% url 'user_list' %}?order_by={{ order_by }}&amp;order={{ order }}" title="Reset filter options" class="btn btn-default">Reset</a>
        </div>
    </form>
    <hr>

    {% if object_list %}
        <table class="custom-table table">
            <thead>
                <tr>
                    <th class="{% if 'first_name' in order_by %}ordered{% endif %}">
                        <a href="{{ querystring }}&amp;order_by=first_name{% if 'first_name' in order_by and 'asc' in order %}&amp;order=desc{% elif 'first_name' in order_by and 'desc' in order %}&amp;order=asc{% endif %}" title="Sort by first name">
                            First name
                            <span class="direction desc{% if 'first_name' in order_by and 'desc' in order %} ordered{% endif %}">▾</span>
                            <span class="direction asc{% if 'first_name' in order_by and 'asc' in order %} ordered{% endif %}">▴</span>
                        </a>
                    </th>
                    <th class="{% if 'last_name' in order_by %}ordered{% endif %}">
                        <a href="{{ querystring }}&amp;order_by=last_name{% if 'last_name' in order_by and 'asc' in order %}&amp;order=desc{% elif 'last_name' in order_by and 'desc' in order %}&amp;order=asc{% endif %}" title="Sort by last name">
                            Last name
                            <span class="direction desc{% if 'last_name' in order_by and 'desc' in order %} ordered{% endif %}">▾</span>
                            <span class="direction asc{% if 'last_name' in order_by and 'asc' in order %} ordered{% endif %}">▴</span>
                        </a>                    
                    </th>
                    {% if staff_list %}
                        <th>Role</th>
                    {% else %}
                        <th class="{% if 'company' in order_by %}ordered{% endif %}">
                            <a href="{{ querystring }}&amp;order_by=company{% if 'company' in order_by and 'asc' in order %}&amp;order=desc{% elif 'company' in order_by and 'desc' in order %}&amp;order=asc{% endif %}" title="Sort by last name">
                                Company
                                <span class="direction desc{% if 'company' in order_by and 'desc' in order %} ordered{% endif %}">▾</span>
                                <span class="direction asc{% if 'company' in order_by and 'asc' in order %} ordered{% endif %}">▴</span>
                            </a>
                        </th>
                        <th>Industry/sector</th>
                    {% endif %}
                    <th class="{% if 'location' in order_by %}ordered{% endif %}">
                        <a href="{{ querystring }}&amp;order_by=location{% if 'location' in order_by and 'asc' in order %}&amp;order=desc{% elif 'location' in order_by and 'desc' in order %}&amp;order=asc{% endif %}" title="Sort by last name">
                            Location
                            <span class="direction desc{% if 'location' in order_by and 'desc' in order %} ordered{% endif %}">▾</span>
                            <span class="direction asc{% if 'location' in order_by and 'asc' in order %} ordered{% endif %}">▴</span>
                        </a>
                    </th>
                    <th class="{% if 'date_moved_in' in order_by %}ordered{% endif %} column__date-moved-in">
                        <a href="{{ querystring }}&amp;order_by=date_moved_in{% if 'date_moved_in' in order_by and 'asc' in order %}&amp;order=desc{% elif 'date_moved_in' in order_by and 'desc' in order %}&amp;order=asc{% endif %}" title="Sort by last name">
                            Date moved in
                            <span class="direction desc{% if 'date_moved_in' in order_by and 'desc' in order %} ordered{% endif %}">▾</span>
                            <span class="direction asc{% if 'date_moved_in' in order_by and 'asc' in order %} ordered{% endif %}">▴</span>
                        </a>
                    </th>
                    <th><span class="hidden">View profile</span></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr class="collapsed{% if forloop.counter|divisibleby:"2" %} active{% endif %}" data-target="#profile-{{ object.id }}" data-toggle="collapse">
                        <td class="{% if 'first_name' in order_by %}emphasise{% endif %}">
                            {{ object.first_name }}
                        </td>
                        <td class="{% if 'last_name' in order_by %}emphasise{% endif %}">
                            {{ object.last_name }}
                        </td>
                        {% if staff_list %}
                            <td>
                                {{ object.staff_role|default:'&ndash;' }}
                            </td>
                        {% else %}
                            <td class="{% if 'company' in order_by %}emphasise{% endif %}">
                                {{ object.company|default:'&ndash;' }}
                            </td>
                            <td>
                                {{ object.industries.all|join:', '|default:'&ndash;' }}
                            </td>
                        {% endif %}
                        <td class="{% if 'location' in order_by %}emphasise{% endif %}">
                            {% if object.location.image_location %}
                            <img width="30" src="{% static 'images/' %}{{object.location.image_location}}.jpg">
                            {% endif %}
                            {{ object.location|default:'&ndash;' }}
                        </td>
                        <td>
                            <time datetime="{% if object.date_moved_in %}{{ object.date_moved_in|date:'c' }}{% else %}&ndash;{% endif %}">{% if object.date_moved_in %}{{ object.date_moved_in|date:'jS F Y' }}{% else %}&ndash;{% endif %}</date>
                        </td>
                        <td>
                            <a class="fallback-sr-only" title="View Profile" href="{% url 'user_detail' object.id %}">View profile</a>
                            <span class="glyphicon glyphicon-collapse-up collapsed">
                                <span class="hidden">View More</span>
                            </span>
                        </td>
                    </tr>
                    <tr class="extra collapsed{% if forloop.counter|divisibleby:"2" %} active{% endif %}" data-target="#profile-{{ object.id }}" data-toggle="collapse">
                        <td colspan="8" class="row-constrain">
                            <div id="profile-{{ object.id }}" class="collapse">
                                <div class="extra row">
                                    <div class="extra__profile col-md-4">
                                        {% avatar object 125 %}
                                        <p>{{ object.bio|default:"Nothing here yet."|truncatewords:30|urlize }}</p>
                                    </div>
                                    <div class="extra__contact col-md-8">
                                        <p class="">Last seen online <time datetime="{% if object.last_login %}{{ object.last_login|date:"c" }}{% else %}&ndash;{% endif %}"> {% if object.online_now %}just now{% else %}{{ object.last_visit|timesince|default:"-" }} ago{% endif %}</time></p>
                                        <p><a class="js-nested-link btn btn-primary" href="{% url 'message_form' object.id %}" title="Send {{ object.first_name }} a message"><span class="glyphicon glyphicon-envelope"></span> Send a message</a></p>
                                        <p><a class="js-nested-link btn btn-primary" href="{% url 'user_detail' object.id %}"><span class="glyphicon glyphicon-user"></span> View full profile</a></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="{{ querystring }}&amp;order_by={{ order_by }}&amp;order={{ order }}&amp;page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                <li{% if page_obj.number == page_num %} class="active"{% endif %}><a href="{{ querystring }}&amp;order_by={{ order_by }}&amp;order={{ order }}&amp;page={{ page_num }}">{{ page_num }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="{{ querystring }}&amp;order_by={{ order_by }}&amp;order={{ order }}&amp;page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </div>
        {% endif %}

    {% else %}
        <p>No tenants found.</p>
    {% endif %}
</div>
{% endblock %}
