{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}{{ block.super }} | Update profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>Update profile</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <form action="{% url 'user_update' %}" method="post" class="form" role="form">
                {% csrf_token %}

                {{ form.first_name|bootstrap }}
                {{ form.last_name|bootstrap }}

                <hr>

                {{ form.industries|bootstrap }}
                {{ form.location|bootstrap }}
                {{ form.additional_location|bootstrap }}

                <hr>

                {{ form.company|bootstrap }}
                {{ form.bio|bootstrap }}
                {% if form.staff_role %}
                    {{ form.staff_role|bootstrap }}
                {% endif %}

                <hr>

                {{ form.website|bootstrap }}
                {{ form.birthday|bootstrap }}

                {% if form.in_staff_index %}
                    {{ form.in_staff_index|bootstrap }}
                {% endif %}
                {{ form.in_tenant_index|bootstrap }}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Update profile">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
