{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reset password</h1>
    </div>
    {% if invalid %}{% url "password_reset_recover" as recovery_url %}
        <p>Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.</p>
    {% else %}
        <p>Hi, <strong>{{ username }}</strong>. Please choose your new password.</p>
        <form method="post" action="{% url "password_reset_reset" token %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Set new password"></p>
        </form>
    {% endif %}
</div>
{% endblock %}
