{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reset password</h1>
    </div>
    {% if invalid %}
        <p>Sorry, this password reset link is invalid. You can still <a href="{% url "password_reset_recover" %}">request a new one</a>.</p>
    {% else %}
        <p>Please choose your new password.</p>

        <form action="{% url "password_reset_reset" token %}" method="post" class="form" role="form">
            {% csrf_token %}

            {{ form|bootstrap }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Set password">
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
