{% extends 'base.html' %}

{% block title %}{{ block.super }} | Logout{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>Logout</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <p>Are you sure you want to logout?</p>
            <form action="{% url 'logout' %}" method="post" class="form" role="form">
                {% csrf_token %}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Logout">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
